<head>
<title>Simply Linens</title>
<meta name="description" content="Luxury event linens providers based out of Abilene, Texas." >
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="stylesheets/main.css" />
<noscript><link rel="stylesheet" href="stylesheets/noscript.css" /></noscript>
<link rel="icon" type="image/png" href="images/simply.png">
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header">
<div class="content">
<div class="inner">
<img src="images/simply2.png" alt="">
<p>Luxury Linens & Events<br/>
</div>
</div>
<nav>
<ul>
<li><a href="#intro">About</a></li>
<li><a href="#work">Linens</a></li>
<li><a href="#about">Events</a></li>
<li><a href="#contact">Quote</a></li>
</ul>
</nav>
</header>

<!-- Main -->
<div id="main">

<!-- Intro -->
<article id="intro"><a href="https://www.facebook.com/pg/simplylinens/about/?ref=page_internal">
<h2 class="major">About</h2></a>
<span class="image main"><img src="images/about.jpg" alt="" /></span>
<p><b>(325)518-2033</b> / Abilene, Texas</p>
</article>

<!-- Linens -->
<article id="work">
<h3 class="major"><a href="#tablecloths">Tablecloths</a></h3>
<span class="image main"><img src="images/sample2-events.jpg" alt="" /></span>

<h3 class="major"><a href="#chaircovers">Chair Covers</a></h3>
<span class="image main"><img src="images/chair_covers.jpg" alt="" /></span>

<h3 class="major"><a href="#sashes">Sashes</a></h3>
<span class="image main"><img src="images/sashes.jpg" alt="" /></span>

<h3 class="major"><a href="#tablerunners">Table Runners</a></h3>
<span class="image main"><img src="images/table_runner.jpg" alt="" /></span>

<h3 class="major"><a href="#tabletopper">Table Topper</a></h3>
<span class="image main"><img src="images/table_topper.jpg" alt="" /></span>

</article>

<!-- Events -->
<article id="about">
<a href="https://www.facebook.com/pg/simplylinens/photos/?ref=page_internal"><h2 class="major">Events</h2></a>
<br>
<a href="#asq">Araceli Sarai Quince - 3/11/17 - Big County Hall,  Abilene TX</a>
<br>
<a href="#TTU_info_dinner">Texas Tech University Health Sciences Center 2/20/17 Information Dinner</a>
<br>
<br>
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.969426449767619.1073741848.497627393614196%26type%3D3&width=500&show_text=true&height=621&appId" width="500" height="621" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.925373797506218.1073741844.497627393614196%26type%3D3&width=500&show_text=true&height=640&appId" width="500" height="640" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.777398218970444.1073741837.497627393614196%26type%3D3%3D3&width=500&show_text=true&height=592&appId" width="500" height="592" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.564157516961183.1073741826.497627393614196%26type%3D3&width=500&show_text=true&height=621&appId" width="500" height="621" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

</article>

<!-- Contact -->
<article id="contact">
<h2 class="major">Request A Quote</h2>
<a href="mailto:simplylinens@suddenlink.net?Subject=Hello!" target="_top"><input type="submit" value="Send Message" class="special" /></a>

</article>

<article id="tablecloths">
<h3 class="major">Tablecloths</h3>
<span class="image main"><img src="images/tcloths1.jpg" alt="" /></span>
<span class="image main"><img src="images/tcloths2.jpg" alt="" /></span>
</article>
<article id="chaircovers">
<h3 class="major">Chair Covers</h3>
<span class="image main"><img src="images/event1.jpg" alt="" /></span>
</article>
<article id="sashes">
<h3 class="major">Sashes</h3>
<span class="image main"><img src="images/sashe.jpg" alt="" /></span>
</article>
<article id="tablerunners">
<h3 class="major">Table Runners</h3>
</article>
<article id="tabletopper">
<h3 class="major">Table Toppers</h3>
<span class="image main"><img src="images/topper1.jpg" alt="" /></span>
</article>
<article id="TTU_info_dinner">
<h3 class="major">2017 TTU Health Sciences Center Information Dinner</h3>
<span class="image main"><img src="images/ttu_info.jpg" alt="" /></span>
<span class="image main"><img src="images/ttu_info2.jpg" alt="" /></span>
</article>
<article id="asq">
<h3 class="major">Araceli Sarai Quince </h3>
<span class="image main"><img src="images/asq.jpg" alt="" /></span>
<span class="image main"><img src="images/asq2.jpg" alt="" /></span>
<span class="image main"><img src="images/asq3.jpg" alt="" /></span>
<span class="image main"><img src="images/asq4.jpg" alt="" /></span>
<span class="image main"><img src="images/asq5.jpg" alt="" /></span>
<span class="image main"><img src="images/asq6.jpg" alt="" /></span>
</article>


</div>

<!-- Footer -->
<footer id="footer">
<p class="copyright">&copy; Simply Linen</p>
</footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/skel.min.js"></script>
<script src="javascripts/util.js"></script>
<script src="javascripts/main.js"></script>

</body>
